<html layout:decorate="~{/layout/layout}">
<div layout:fragment="content">

    <div id="content">

        <form action="/posting/update" method="post">
            <input type="hidden" name="id" th:value="${postingDto.id}">

            <div class="mb-3">
                <label for="titleForm" class="form-label">제목</label>
                <input type="text" class="form-control" name="title" th:value="${postingDto.title}" id="titleForm">
            </div>

            <div class="mb-3">
                <label for="contentForm" class="form-label">내용</label>
                <textarea class="form-control" name="content" th:text="${postingDto.content}" id="contentForm" rows="10"></textarea>
            </div>

            <div class="flex-container">
                <button type="submit" class="btn btn-primary">수정완료</button>
                <button type="reset" class="btn btn-warning">다시쓰기</button>
                <button type="button" class="btn btn-danger" th:onclick="|location.href='/posting/'+${postingDto.id}|">취소</button>
            </div>
        </form>

    </div>

</div>
</html>