{{>layout/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>

    <!--  {{#attributeName}} {{/attributeName}} 으로 해당하는 객체를 사용할 범위를 지정 -->
    <!--  해당 객체가 데이터 묶음인 경우 데이터 수만큼 내부 코드를 반복 실행함  -->
    {{#postingDtos}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/posting/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/postingDtos}}

    </tbody>
</table>

<a href="/posting/new">New Posting</a>

{{>layout/footer}}