{{>layout/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>

    <!--  {{#attributeName}} {{/attributeName}} 으로 해당하는 객체를 사용할 범위를 지정 -->

    {{#postingDto}}
        <tr>
            <th>{{id}}</th>
            <td>{{title}}</td>
            <td>{{content}}</td>
        </tr>
    {{/postingDto}}

    </tbody>
</table>

<a href="/posting/{{postingDto.id}}/edit" class="btn btn-primary">Edit</a>

<a href="/posting/{{postingDto.id}}/delete" class="btn btn-danger">Delete</a>

<a href="/posting/">Go to Article List</a>

<!--상세 페이지에 댓글 뷰 파일 삽입-->
{{>comments/comments}}

{{>layout/footer}}