<div id="comments-list">
    {{#postingDto.commentDtoList}}
        <div class="card m-2">
            <div class="card-header">
                <button type="button"
                        class="btn btn-sm btn-outline-primary">
                    <a href="/comment/{{id}}/edit">수정</a>
                </button>
                <!-- 댓글 삭제 -->
                <button type="button"
                        class="btn btn-sm btn-outline-danger comment-delete-btn">
                    <a href="/comment/{{id}}/delete">삭제</a>
                </button>
            </div>
            <div class="card-body">
                {{comment}}
            </div>
        </div>
    {{/postingDto.commentDtoList}}
</div>