<div class="card m-2" id="comments-new">
    {{#postingDto}}
    <div class="card-body">
        <form action="/comment/create" method="post">
            <div class="mb-3">
                <label class="form-label">댓글 내용</label>
                <textarea type="text" class="form-control" rows="3"
                          id="new-comment-comment"
                          name="comment"></textarea>
            </div>
            <!-- 히든 인풋 -->
                <input type="hidden" id="new-comment-postingId"
                       name="postingId" value="{{id}}">

            <button type="submit" class="btn btn-primary">댓글 작성</button>
        </form>
    </div>
    {{/postingDto}}
</div>