<html layout:decorate="~{/layout/layout}">
<th:block layout:fragment="content">

    <div id="content">

        <div class="account">
            <div class="my-3 border-bottom">
                <div>
                    <h4>회원정보</h4>
                </div>
            </div>
            <form th:action="@{/account/oauth2/update}" th:object="${accountDto}" method="post" onsubmit="return confirmEditAccount(this)">
                <div class="mb-3">
                    <label for="nickname" class="form-label">닉네임</label>
                    <input type="text" th:field="*{nickname}" id="nickname" class="form-control">
                    <span class="valid" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></span>
                </div>

                <div class="flex-container">
                    <button type="submit" class="btn btn-primary">수정</button>
                    <button type="button" class="btn btn-danger" th:if="${#strings.contains(#authentication.name, 'kakao_')}" onclick="deleteAndKakaoUnlink()">회원탈퇴</button>
                    <button type="button" class="btn btn-info btn-info-custom" th:onclick="|location.href='/'|">돌아가기</button>
                </div>
            </form>
        </div>

    </div>

</th:block>
</html>