<html layout:decorate="~{/layout/layout}">
<th:block layout:fragment="content">

    <div id="content">

        <div class="account">
            <div class="my-3 border-bottom">
                <div>
                    <h4>비밀번호 변경</h4>
                </div>
            </div>
            <form th:action="@{/account/password/update}" th:object="${accountDto}" method="post">
                <div class="mb-3">
                    <label for="currentPassword" class="form-label">기존 비밀번호</label>
                    <input type="password" th:field="*{currentPassword}" id="currentPassword" class="form-control">
                    <span class="valid" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></span>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">새 비밀번호</label>
                    <input type="password" th:field="*{password}" id="password" class="form-control">
                    <span class="valid" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>

                <div class="mb-3">
                    <label for="passwordConfirm" class="form-label">비밀번호 확인</label>
                    <input type="password" th:field="*{passwordConfirm}" id="passwordConfirm" class="form-control">
                    <span class="valid" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
                </div>

                <div class="flex-container">
                    <button type="submit" class="btn btn-primary">변경</button>
                    <button type="button" class="btn btn-info btn-info-custom" th:onclick="|location.href='/'|">목록으로</button>
                </div>
            </form>
        </div>

    </div>

</th:block>
</html>