<html layout:decorate="~{/layout/layout}">
<th:block layout:fragment="content">

    <div id="content">

        <div class="account">
            <div class="my-3 border-bottom">
                <div>
                    <h4>비밀번호 변경</h4>
                </div>
            </div>
            <form action="/account/password/update" method="post">
                <div class="mb-3">
                    <label for="currentPassword" class="form-label">기존 비밀번호</label>
                    <input type="password" name="currentPassword" id="currentPassword" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">새 비밀번호</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="passwordConfirm" class="form-label">비밀번호 확인</label>
                    <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">변경</button>
            </form>
        </div>

    </div>

</th:block>
</html>